body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 65px;
    background-color: #121212;
    overflow-y: scroll;
}

header {
    position: fixed;
    top: 0;
    height: 30px;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 0 auto 10px auto;
    margin-bottom: 10px;
    background-color: #232323;
    color: white;
    border-bottom: 1px solid black;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    width: 75%;
}

.container {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

#sidebar {
    min-width: 23%;
    position: sticky;
    top: 95px;
    background-color: #232323;

    display: block;
    height: 400px;
    border-radius: .25rem;
    box-shadow: 5px 5px 5px #101010;
}

.sharePhoto {
    display: block;
    min-height: 400px;
    background-color: #232323;
    color: #fff;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 2rem;
}

.post {
    background-color: #232323;
    padding-bottom: 1rem;
    margin-bottom: 25px;
    color: white;
    border-radius: .25rem;
    box-shadow: 5px 5px 5px #101010;
}

.post img {
    width: 100%;
}

.description {
    padding: 0 1rem;
    font-weight: 300;
}

.comment-buttons {
    margin: .5rem 1rem;
}

.comment {
    display: flex;
    font-weight: 300;
    overflow: auto;
}

.content {
    background-color: #232323;
    color: #fff;
    border-radius: .25rem;
    padding: .5rem 1rem;
    box-shadow: 5px 5px 5px #101010;
}

.content a {
    color: white;
}


.form-button {
    margin: .15rem;
    padding: 0.5rem;
    color: white;
    border-radius: 8px;
    display: block;
    background-color: #232323;
}

.comment-field {
    margin: .5rem 1rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    max-width: 80%;
    background-color: #232323;
    display: block;
}

.comment-submit {
    margin: 1rem;
    padding: 0.75rem;
    color: white;
    border-radius: 8px;
    /* display: block; */
    background-color: #232323;
}

.post-header-info {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #232323;

    color: white;
    margin: 0;
}

.post-header-info p {
    margin: 0;
    padding: 1rem;
}

.posted-comments {
    font-weight: 300;
    background-color: #272727;
    box-shadow: 2px 2px 2px #131313;
    width: 90%;
    padding: 0;
    margin: 0 1rem;
    border-radius: .5rem;
}

.posted-comments p {
    padding: .5rem;
}

.poster {
    font-weight: 500;
}

.main-feed-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Card design*/
.card {
    background: #323232; 
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px #131313;
    color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 200px;
    min-height: 350px;
}
  
.card-header-img img {
      width: 100%;
}

.card-header-name {
      width: 100%;
      text-align: center;
}

.card-description{
      margin: 1rem;
      border-bottom: 2px solid black;
      font-size: 14px;
      height: 120px;
}

.card-footer {
    padding: .3rem;
}

.card-footer-btn {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: .5rem;
    padding: 0.5rem;
    background-color: #232323;
}

.delete {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: .5rem;
    padding: 0.75rem;
    background-color: #232323;
}

.dragPhotoArea {
    height: 250px;
    border: dashed rgb(92, 91, 91);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: .15rem;
    padding: .5rem;
    color: white;
    border-radius: 8px;
    display: inline-block;
    background-color: #232323;
}

.commentNewPhoto>textarea {
    box-sizing: border-box;
    width: 93%;
    min-width: 5%;
    margin: .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #232323;

}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    text-align: center;
    margin: .25rem;
    padding: 0.5rem;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}

#logo {
    text-align: center;
    width: 33.3%;
    margin: 0 0 0 1.5rem;
    display: block;
}

#search-bar {
    text-align: center;
    width: 33.3%;  
    display: block;
}

#icons-right {
    text-align: center;
    width: 33.3%;
    margin-right: 3rem;
    display: block;
}

@media screen and (min-width: 880px) and (max-width: 1300px) {
    .container {
        width: 80%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 880px) {
    #sidebar {
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 0;
        font-size: 0.75rem;
        left: 0;
        height: 60px;
        order: 2;
        margin-bottom: 0px;
    }

    #sidebar ul {
        display: inline-flex;
        align-items: center;
    }

    .container {
        margin: 20px 0 0 0;
        width: 100%;
        flex-direction: column;
        min-height: calc(100vh - 80px);
    }

    main {
        margin: 0 auto;
        width: 90%;
        order: 1;
        margin-bottom: 20px;
    }

    #logo {
        text-align: left;
    }

    #icons-right {
        text-align: right;
    }

    .card {
        width: 100%;
    }

}


