body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #444343;
    overflow-y: scroll;
}

header {
    display: flex;
    width: 100%;
    padding: 20px ;
    top: 0;
    margin: auto;
    position: fixed;
    background-color: #323232;
    color: white;
    border-bottom: 1px solid black;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.container {
    /* overflow: hidden; */
    width: 900px;
    justify-content: center;
    margin-left: 400px;
    margin-top: 100px;
}

.sidebar {
    border: 1px solid black;
    background-color: #323232;
    width: 200px;
    display: block;
    position:fixed;
    margin-left: -60px;
    min-height: 500px;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    text-align: center;
    margin: .25rem;
    padding: 0.5rem;
    /* border: 1px solid white; */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.posts {
    margin-left: 150px;
    width: 900px;
    display: block;
}

.post {
    border: 1px solid black;
    background-color: #323232;
    margin-bottom: 2rem;
}

.post img {
    width: 100%;
}

.description {
    padding: 0 1rem;
    color: #fff;
}

.comment-buttons {
    margin: .5rem 1rem;
}

.comment-buttons button {
    color: white;
    border-radius: 8px;
    padding: 0.75rem;
    background-color: #323232;
}

.comment {
    display: flex;
}

.content {
    margin-left: 20%;
    display: block;
    max-width: 80%;
    background-color: #323232;
    color: #fff;
    border: 1px solid black;
}

.content a {
    color: white;
}

.content h1, h2, p, h3 {
    padding: 0 1rem;
}

#logo {
    width: 23.3%;
    margin-left: 1.5rem;
    /* background-color: red; */
}

#search-bar {
    text-align: center;
    width: 33.3%;  
    /* background-color: blue; */
}
#search-bar > input{
    width: 60%;
    
}

#logout {
    text-align: right;
    width: 33.3%;
    /* background-color: green; */
}

#comment-field {
    margin: .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    max-width: 80%;
    background-color: #323232;
    display: block;
}

#comment-submit {
    margin: 1rem;
    padding: 0.75rem;
    color: white;
    border-radius: 8px;
    display: block;
    background-color: #323232;
}


